.container {
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 140px;
  }